.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e3;
}

.card {
    border: var(--base) 1px solid;
    border-radius: 6px;
    padding: 0.8rem;

}

.card img {
    scale: 1;
    transition: 1s;
}

.card:hover img {
    rotate: 10deg;
    scale: 1.4;
}

.arrow {
    top: 110%;
    opacity: 0;
    transition: top 400ms, opacity 1s;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.card:hover .arrow {
    opacity: 1;
    top: 90%;
}


.search_input {
    position: relative;
}

.search_input::before,
.search_input::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--base);
    transition: 250ms;
}

.search_input::before {
    left: 0;
    transform: translateX(-200%);
}

.search_input::after {
    right: 0;
    transform: translateX(200%);
}

.search_input button {
    opacity: 0;
    transition: 500ms;
}

.search_input.focus button {
    opacity: 1;
}

.search_input.focus::before,
.search_input.focus::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--helper);

}

.search_input.focus::before {
    left: 0;
    transform: translateX(-80%);
}

.search_input.focus::after {
    right: 0;
    transform: translateX(80%);
}