.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e3;
}

.card {
    border: var(--base) 1px solid;
    border-radius: 6px;
    padding: 0.8rem;

}

.card img {
    scale: 1;
    transition: 1s;
}

.card:hover img {
    rotate: 10deg;
    scale: 1.4;
}

.arrow {
    top: 110%;
    opacity: 0;
    transition: top 400ms, opacity 1s;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.card:hover .arrow {
    opacity: 1;
    top: 90%;
}


.clan_card {
    max-width: 350px;
}

.clan_card .clan_logo>div,
.clan_card .clan_logo img,
.clan_card>div:nth-child(2),
.clan_card>div>div>img {
    transition: 250ms;
}

.clan_card:hover>div:nth-child(2) {
    border: solid var(--base) 1px;
}

.clan_card:hover .clan_logo>div {
    background-color: var(--base);
}

.clan_card:hover .clan_logo img {
    transform: rotate3d(0, 1, 0, 360deg);
}

.clan_card:hover>div>div>img {
    scale: 1.2;
    rotate: 10deg;
}

.search_input {
    position: relative;
}

.search_input::before,
.search_input::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--base);
    transition: 250ms;
}

@media (max-width:768px) {

    .search_input::before,
    .search_input::after {
        display: none;
    }
}

.search_input::before {
    left: 0;
    transform: translateX(-200%);
}

.search_input::after {
    right: 0;
    transform: translateX(200%);
}

.search_input button {
    opacity: 0;
    transition: 500ms;
}

.search_input.focus button {
    opacity: 1;
}

.search_input.focus::before,
.search_input.focus::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--helper);
}

@media (max-width:768px) {

    .search_input.focus::before,
    .search_input.focus::after {
        display: none;
    }
}

.search_input.focus::before {
    left: 0;
    transform: translateX(-80%);
}

.search_input.focus::after {
    right: 0;
    transform: translateX(80%);
}