:root {
  /* COLORS */
  --base: #111111;
  --helper: #A52A2A;
  --helperH: #8e2525;
  --text: #bcb5b5;
}

body {
  color: white;
  background-color: var(--base);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

p,
h4,
h5,
h6,
span,
i {
  font-size: 16px;
}