:root {
  /* COLORS */
  --base: #111111;
  --helper: #ad1b1b;
  --helperH: #8e2525;
  --text: #bcb5b5;
}

body {
  color: white;
  background-color: var(--base);
  overflow-x: hidden;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

p,
h4,
h5,
h6,
span,
i {
  font-size: 16px;
}


::selection {
  color: var(--base);
  background: var(--helper);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(141, 1, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 36, 36);
}