:root {
  /* COLORS */
  --base: #45F882;
  --helper: #0B0E13;
  --helperH: #121B24;
  --text: #ABAEBA;
  --yellow: #FFBE18;
  --over: #19232a;
  --highlight: #6152C6;
  --gray: #252836;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.mc {
  color: var(--base);
}

.sc {
  color: var(--helper);
}

.tc {
  color: var(--helperH);
}

.f-1 {
  font-family: 'Barlow Semi Condensed', sans-serif;

}

.f-2 {
  font-family: 'Poppins', sans-serif;

}

.f-3 {
  font-family: 'Single Day', cursive;
}

body {
  margin: auto;
  max-width: 1800px;
  color: white;
  background-color: var(--helper);
  overflow-x: hidden;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

p,
h4,
h5,
h6,
span,
i {
  font-size: 16px;
}


::selection {
  color: var(--base);
  background: var(--helper);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--helperH)
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--base);
}